

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*overflow: hidden;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h2 {
  color: white;
}

.title-container {
  margin-top 50px;
  padding-left: 40px;
  width: 100% !important;
  max-width: 100% !important;
  background-color: #006EB6; 
  color: white !important;
}

.center-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;     
  padding: 10px;      
}

.center-inputs .action-button {
  width: 200px;           
}


.action-button {
  display: flex;
  color: white;
  background-color: green;
  justify-content: center;
  margin-left: 90px;
  margin-right: 90px;
}

.action-button:hover {
  background-color: darkgreen;
}

.info-table {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;   
}


/* Make text visible on inputs */
.shiny-input-container {
  color: darkgreen;
  display: flex;
  box-sizing: border-box;
  width: 100%
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}